<div class="container-fluid">
  <div style="display: flex">
    <mat-form-field>
      <mat-select [(value)]="selectedCategorie">
        @for (option of categories; track option) {
        <mat-option [value]="option.value">{{ option.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-form-field" style="width: 100%">
      <mat-label>Search</mat-label>
      <input matInput type="text" [formControl]="searchName" />
      @if (searchName.value) {
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchName.reset()"
      >
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
  </div>

  <div class="mb-5">
    @if(!findMovies){
    <div class="row m-2">
      <h2>Popular movies</h2>
      <div class="scrollable-row">
        @for (item of hotMovies.results; track $index) {
        <mat-card class="movie-card m-2">
          <div
            style="
              width: 250px;
              display: flex;
              flex-direction: column;
              height: 100%;
            "
          >
            <div class="movie-poster">
              <img
                class="card-img-top movie-poster-size"
                mat-card-image
                src="https://image.tmdb.org/t/p/w220_and_h330_face/{{
                  item.poster_path
                }}"
                alt="{{ item.title }}"
                onerror="this.src='../assets/img/placeholder.jpg' "
              />
            </div>

            <mat-card-content>
              <mat-card-title class="justify-content-center">{{
                item.title
              }}</mat-card-title>
              <mat-card-subtitle class="truncate-text">{{
                item.overview
              }}</mat-card-subtitle>
            </mat-card-content>
            <mat-card-actions
              class="card-actions"
              align="end"
              routerLink="/details"
              routerLinkActive="active"
            >
              <button mat-flat-button>Details</button>
            </mat-card-actions>
          </div>
        </mat-card>
        }
      </div>
    </div>

    <div class="row m-2">
      <h2>Popular TV shows</h2>
      <div class="scrollable-row">
        @for (item of hotTvs.results; track $index) {
        <mat-card class="movie-card m-2">
          <div
            style="
              width: 250px;
              display: flex;
              flex-direction: column;
              height: 100%;
            "
          >
            <div class="movie-poster">
              <img
                class="card-img-top movie-poster-size"
                mat-card-image
                src="https://image.tmdb.org/t/p/w220_and_h330_face/{{
                  item.poster_path
                }}"
                alt="{{ item.name }}"
                onerror="this.src='../assets/img/placeholder.jpg' "
              />
            </div>

            <mat-card-content>
              <mat-card-title class="justify-content-center">{{
                item.name
              }}</mat-card-title>
              <mat-card-subtitle class="truncate-text">{{
                item.overview
              }}</mat-card-subtitle>
            </mat-card-content>

            <mat-card-actions
              class="card-actions"
              align="end"
              routerLink="/details"
              routerLinkActive="active"
            >
              <button mat-flat-button>Details</button>
            </mat-card-actions>
          </div>
        </mat-card>
        }
      </div>
    </div>

    } @else if(findMovies) {
    <div class="row justify-content-center mw-100">
      @for (item of showResult.results; track $index) {
      <mat-card class="movie-card m-2">
        <div>
          <div class="movie-poster">
            <img
              class="card-img-top movie-poster-size"
              mat-card-image
              src="https://image.tmdb.org/t/p/w220_and_h330_face/{{
                item.poster_path
              }}"
              alt="{{ item.title }}"
              onerror="this.src='../assets/img/placeholder.jpg' "
            />
          </div>

          <mat-card-content>
            <mat-card-title class="justify-content-center">{{
              item.title
            }}</mat-card-title>
            <mat-card-subtitle class="truncate-text">{{
              item.overview
            }}</mat-card-subtitle>
          </mat-card-content>
        </div>
      </mat-card>
      }
    </div>
    }
  </div>
</div>
