<div
  class="d-flex justify-content-center align-self-center"
  style="height: 100%"
>
  <div class="four_zero_four_bg">
    <h1 style="margin-top: 50px; text-align: center; font-size: 80px">404</h1>

    <div class="bottom_info">
      <p style="font-size: 40px">Ooops</p>
      <br />Look like you're lost
      <p>The page you are looking for not aveilable</p>
      <button
        mat-flat-button
        color="primary"
        routerLink=""
        routerLinkActive="active"
        style="margin-bottom: 10px; border-radius: 10px"
      >
        Go Home
      </button>
    </div>
  </div>
</div>
